* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    overflow: hidden;
}

.calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    height: 500px;
    width: 350px;
    border-radius: 30px;
    background-color: black;
    box-shadow: 0px 0px 8px cyan;
    overflow: auto;
}

.screen {
    height: 80px;
    width: 350px;
    background-color: rgba(255, 255, 255, 0.129);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.screen .value {
    font-size: 45px;
    color: white;
    margin: 25px;
    background: none;
    border: none;
    text-align: right;
    width: 300px;
}

.operation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
}

.button1 {
    background-color: black;
    color: white;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    font-size: larger;
    box-shadow: -4px -4px 10px cyan;
}

.button1:hover {
    background-color: white;
    color: black;
    box-shadow: 0px 0px 20px cyan;
    cursor: pointer;
}

.button2 {
    background-color: black;
    color: green;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    font-size: larger;
    box-shadow:     4px 4px 10px cyan;
}

.button2:hover {
    background-color: white;
    color: black;
    box-shadow: 0px 0px 20px cyan;
    cursor: pointer;
}

.info{
    color: white;
    text-align: center;
    text-shadow: 4px 4px 4px cyan;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

/* .classnasd {
    background-color: black;
    color: ;
    font-size: x-large;
    font-weight: 700;
    box-shadow: 4px 4px 10px cyan
} */

@media only screen and (max-width: 600px) {
    .card {
        height: 100vh;
        width: 100%;
        border-radius: none;
        overflow: hidden;
        box-shadow: none;
    }

    .screen {
        height: 290px;
        width: 100%;
        justify-content: baseline;
        align-items: flex-end;
    }

    .screen .value {
        font-size: 70px;
    }

    .button1 {
        height: 100px;
        width: 100px;
    }

    .button2 {
        height: 100px;
        width: 100px;
    }
}